<div class="container  my-4 ps-5">

    <div class="container row  my-5 align-items-center justify-content-center " styly>
        <!-- Java -->
        <div class="card text-bg-dark text-center col-md-3 mx-2 col-sm-12 mt-3   shadow " style=" backdrop-filter: blur(10px);">
            <h4 class="card-title text-center mt-2">Java</h4>
            <p class="card-body">
                Java is best programming laungage. Test your Knowledge In java

            </p>
            <div class="card-footerb p-3 "><a (click)="serverNotFound('java')" routerLink="/java/quiz">Take Quiz</a></div>
        </div>


        <!--  JavaScript -->
        <div class="card text-bg-dark text-center  col-md-3 mx-2 col-sm-12 mt-3 shadow" style=" backdrop-filter: blur(10px);">
            <h4 class="card-title text-center mt-2">Java Script</h4>
            <p class="card-body">
                Java script is a very famous front-end scripting laungage
            </p>
            <div class="card-footerb p-3 "><a routerLink="/javascript/quiz">Take Quiz</a></div>
        </div>




        <!-- Springboot -->
        <div class="card text-bg-dark text-center  col-md-3 mx-2 col-sm-12 mt-3  shadow" style=" backdrop-filter:  blur(10px);">
            <h4 class="card-title text-center mt-2">Spring Boot</h4>
            <p class="card-body">
                Java's Best Framework. test your Knowledgeon Spring Boot
            </p>
            <div class="card-footerb p-3 "><a routerLink="/springboot/quiz">Take Quiz</a></div>
        </div>
    </div>

</div>