.login-icon {
    font-size: 5rem;
    color: lightblue;
}

input[type='email'] {
    background: transparent;
    /* border: 2px solid #dd51ef; */
}

input[type='password'] {
    background: transparent;
    /* border: 2px solid #dd51ef; */
}

.form {
    /* backdrop-filter: blur(4px); */
    padding: 1rem 2rem;
}


/* input {
    height: 40px;
} */