<div class="container  row">
    <!-- <div class="item col-md-4 col-lg-4 col-sm-12 text-center">
        <div class="card my-4 pt-4 shadow">
            <h3>Java</h3>
            <span> A popular Programming language</span>
            <button class="btn btn-success mt-4"><a href="#">Learn Java</a></button>
        </div>
    </div> -->


    <!-- card 1 -->
    <div class="item col-md-4 col-lg-4 col-sm-12  text-center">
        <div class="card my-4 pt-4 shadow d-flex flex-column justify-content-between " style=" backdrop-filter: blur(15px);">
            <h3>Java</h3>
            <span>A popular Programming language</span>
            <button class="btn btn-success mt-4 mx-3 mb-3"><a href="https://docs.oracle.com/javase/tutorial/">Explore Java</a></button>
        </div>
    </div>



    <!-- card 2 -->
    <div class="item col-md-4 col-lg-4 col-sm-12  text-center">
        <div class="card my-4 pt-4 shadow d-flex flex-column justify-content-between" style=" backdrop-filter: blur(15px);">
            <h3>Spring Boot</h3>
            <span> A popular java Framework for Backend</span>
            <button class="btn btn-success mt-4 mx-3 mb-3"><a href="https://spring.io/projects/spring-boot">Explore Spring Boot</a></button>
        </div>
    </div>
    <div class="item col-md-4 col-lg-4 col-sm-12  text-center">
        <div class="card my-4 pt-4 shadow d-flex flex-column justify-content-between" style=" backdrop-filter: blur(15px);">
            <h3>JavaScript</h3>
            <span> A popular Scripting language for web development</span>
            <button class="btn btn-success mt-4 mx-3 mb-3"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Explore JavaScript</a></button>
        </div>
    </div>

</div>

<!-- 
<div class="card ms-5" style="color: white; width: 200px;">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, debitis!</p>


    <div class="button-groups   ">
        <button class="text-light">button 1 </button><button class="text-light">button 2</button>
    </div>
</div> -->