<div class="container mt-5 d-flex justify-content-center ">
    <div class=" text-center w-50  text-white px-5 py-3 " style="backdrop-filter: blur(3px);border-radius: 20px;">
        <h3 class="mt-5">Welcome to Tech Quiz App</h3>
        <!-- <h6 class="my-3">Test Your knowledge </h6> -->
        <p>A quiz is a form of game or mind sport in which players attempt to answer questions correctly about a certain or variety of subjects. Quizzes can be used as a brief assessment in education and similar fields to measure growth in knowledge, abilities,
            or skills. They can also be televised for entertainment purposes, often in a game show format. </p>
        <small class="mb-5 text-end mx-3">-wikipedia</small>
    </div>
</div>